/*footer*/

footer {
  position: inherit;
  height: 30px;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 1rem;
  background-color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social {
  width: 30px;
}

.social:hover {
  opacity: 1;
  transform: scale(1.1, 1.1);
  transition: transform .2s;
}


body {
  position: inherit;
  margin: auto;
  height: 100%;
  width:100%;
  padding: 0px;
  color: white;
  font-family: "Gotham SSm A","Gotham SSm B",Arial,Helvetica,sans-serif,sans-serif;
  font-weight: 200;
}

a {
  color: inherit;
}

/*header*/

.header {
  text-align: center;
  color: #00A1DF;
  font-size: 30px;
}

.header h1 {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 0px;
}

.header p {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 0px;
}

/*navbar*/

.topnav {
  background-color: #fff;
  overflow: hidden;
  padding-bottom: 20px;
}

.topnav a {
  float: left;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #00A1DF;
  color: white;
}

.topnav a.active {
  background-color: #fff;
  color: black;
}

/*dropdown*/

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-size: 17px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #00A1DF;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.iframe {
  display: flex;
  justify-content: center;
  align-items: center;
}
