html {
  width: 100%;
  height: 100%;
}

body {
  position: inherit;
  margin: auto;
  height: 100%;
  width:100%;
  padding: 0px;
  color: white;
  font-family: "Gotham SSm A","Gotham SSm B",Arial,Helvetica,sans-serif,sans-serif;
  font-weight: 200;
}

a {
  color: inherit;
}

/*title and header*/

#header {
  margin: 0px;
  height: 140px;
  display: flex;
  flex-flow: row wrap;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

div#header-wrap {
  display: inline-block;
  color: white;
}

.header-content {
  background: url("https://s31.postimg.org/655b24muz/hunting.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: right center;
  height: 116px;
}

.destination {
  width: 60%;
  height: 0;
}

.blue {
  border-bottom: 140px solid #00A1DF;
  border-right: 140px solid white;
  position: absolute;
  z-index: inherit;
}

.title {
  width: 60%;
  margin: 0 auto;
}

.title-box {
  width: 60%;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 140px;
}

h2.title {
  font-family: "Gotham SSm A","Gotham SSm B",Arial,Helvetica,sans-serif,sans-serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 4em;
  line-height: 0.9;
  padding-left: 20px;
  margin: 0;
}

h5.subtitle {
  font-family: "Gotham SSm A","Gotham SSm B",Arial,Helvetica,sans-serif,sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25em;
  padding-left: 20px;
  margin: 0;
}

@media screen and (max-width: 850px) {
  h2.title {
    font-size: 3em !important;
  }
}

@media screen and (max-width: 1200px) {
  .title-container {
    width: 70% !important;
  }
}

/*grid*/

.grid {
  margin-top:-5;
  height: 100%;
  width: 100%
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0px;
  min-height: 50%;
}

.row:after {
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 50%;
  color: white;
  text-align: center;
  margin: 0px auto;
}

h3 {
  opacity: 1;
}

#about {
  background-image: url("../Photos/index_panels/about.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4em;
}

#committee {
  background-image: url("../Photos/index_panels/committee.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4em;
}

#successes {
  background-image: url("../Photos/index_panels/successes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4em;
}

#volunteering {
  background-image: url("../Photos/index_panels/volunteering.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4em;
}

.column:hover {
  font-size: 1.1em;
  transition: 0.4s;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/*footer*/

footer {
  position: inherit;
  height: 30px;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 1rem;
  background-color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social {
  width: 30px;
}

.social:hover {
  opacity: 1;
  transform: scale(1.1, 1.1);
  transition: transform .2s;
}
