body {
  font-family: "Gotham SSm A","Gotham SSm B",Arial,Helvetica,sans-serif,sans-serif;
  font-weight: 200;
  margin: 0;
  height: 100%;
  color: white;
}

.header {
  background-color: white;
  height: 120px;
  padding-top: 0;
  margin: 0;
}

.navbar-brand img {
  float:left;
  width: 100px;
  padding-left: 20px;
  padding-top: 10px;
}

.navbar-brand h1 {
  position: relative;
  left: 10px;
  color: white;
}

.navbar-brand h2 {
  position: relative;
  left: 10px;
  color: white;
}

.column {
  float: left;
  width: 50%;
  color: white;
  text-align: center;
  height: 300px;
}

h3:hover {
  opacity: 1;
  transform: scale(1.1, 1.1);
  transition: transform .2s;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0px;
}

.row:after {
  display: table;
  clear: both;
}

#about {
  background-image: url("../photos/index_panels/about.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: inherit;
  width: 100%;
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#committee {
  background-image: url("../photos/index_panels/committee.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: inherit;
  width: 100%;
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#successes {
  background-image: url("../photos/index_panels/successes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: inherit;
  width: 100%;
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#volunteering {
  background-image: url("../photos/index_panels/volunteering.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: inherit;
  width: 100%;
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

footer {
  position: inherit;
  height: 30px;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 1rem;
  background-color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social {
  width: 30px;
}

.social:hover {
  opacity: 1;
  transform: scale(1.1, 1.1);
  transition: transform .2s;
}
